#tbl{
    width: 400px;
    padding: 0;
    margin: 0;
    text-align: center;
}


body{
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    background: #E6EAE9 url(/images/timekeeper_bg.png) no-repeat;
    background-position: top right;
}

A:link {
    text-decoration: none;
    color: #4f6b72;
}
A:visited {
    text-decoration: none;
    color: #4f6b72;
}
A:active {
    text-decoration: none;
    color: #4f6b72;
}
A:hover {
    text-decoration: underline;
    color: #4f6b72;
}

h2{
    font: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
}

.log{
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    text-align: right;
    margin-top: -28px;

}


th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(/images/table_hd.jpg) no-repeat;
}

td.a {
    background: #E6EAE9;
    border-color:#E6EAE9;
    text-align: left;
}

td.b {
    background: #E6EAE9;
    border-color:#E6EAE9;
    text-align: right;
}



td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}


.lab{
    margin-left: 15px;
}

.text_field{
        margin-left: 15px;
}

.login{
    margin-top: -30px;
}
